# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Lee\Documents\Fall 2020\CSCI 3761 - 001 Computer Networks\Projects\Project1_CSocketAndServer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
